footer {
  background-color: #2e2f42;
}

.footer-container {
  margin-left: 156px;
  padding: 100px 0;
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
}

.footer-logo-part {
  color: #fff;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
